.App {
  text-align: center;
  color:white;
  width: 1500px;
  height: 2000px;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 8%;
  background-color: black;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


